---
layout: default
title: people
---

        
<div class="small-12 medium-9 large-9 columns" style="">

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <!-- current members -->
    <li class="text-center" style="margin-top:0;">
      <a href="./stouffer/">
        <img alt="DBS" src="/images/people/dbs_sq2.png"/>
        <h3 class="bio" style="margin-top:5%; margin-bottom:0%;">
          Daniel B. Stouffer
        </h3>
      </a>
      <p class="bio">
      <i class="fa fa-university"></i>
      Associate Professor 
      <br>
      <!--
      <i class="fa fa-flask"></i>
      Rutherford Discovery Fellow
      <br>
      -->
      <a href="./stouffer/" style="margin-right:5%;"><span class="fa fa-laptop"</span></a>
      <a href="mailto:daniel.stouffer@canterbury.ac.nz" style="margin-right:5%;"><span class="fa fa-envelope"</span></a>
      <a href="https://scholar.google.co.nz/citations?user=1RfyVk4AAAAJ" style="margin-right:0%;"><span class="fa fa-bar-chart"</span></a>
      <!--
      <a href="http://twitter.com/stoufferlab" style="margin-right:5%;"><span class="fa fa-twitter"</span></a>
      <a href="http://github.com/stouffer/" style="margin-right:0%;"><span class="fa fa-github"</span></a>
      -->
      </p>
    </li>
  
  
    <!-- postdocs -->
    {% include_relative postdocs.html %}

    <!-- grad students -->
    {% include_relative gradstudents.html %}

  </ul>

  <!-- alumni -->
  <div class="show-for-small-only">
    <h2 class="text-center" style="margin-bottom:2%;">
      Former lab members
    </h2>
  </div>

  <div class="show-for-medium-up">
    <h2 class="text-left" style="margin-bottom:2%;">
      Former lab members
    </h2>
  </div>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <!-- former members -->
    {% include_relative former_members.html %}

  </ul>

  <div class="show-for-small-only">
  <h2 class="text-center" style="margin-bottom:2%;">
    Long-term visitors
  </h2>
  </div>

  <div class="show-for-medium-up">
  <h2 class="text-left" style="margin-bottom:2%;">
    Long-term visitors
  </h2>
  </div>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

  {% include_relative former_visitors.html %}

  </ul>

  <div class="show-for-small-only">
  <h2 class="text-center" style="margin-bottom:2%;">
    Honorary lab members
  </h2>
  </div>

  <div class="show-for-medium-up">
  <h2 class="text-left" style="margin-bottom:2%;">
    Honorary lab members
  </h2>
  </div>

  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

    <!-- honorary lab members -->
    {% include_relative honorary.html %}
    
  </ul>

</div>
