<footer class="row">
<div class="small-12 columns">
  <hr>
    <div class="show-for-small-only small-12 columns">
      <ul style="margin-left:0; font-size:small; list-style-type:none;">
        <li>
        <center class="show-for-small-only">
          <a href="http://stoufferlab.org/">the Stouffer lab</a>
        </center>
        </li>
        <li>
        <center class="show-for-small-only">
          <a href="http://www.biol.canterbury.ac.nz/">School of Biological Sciences</a>
        </center>
        </li>
        <li>
        <center class="show-for-small-only">
          <a href="http://www.canterbury.ac.nz/">University of Canterbury</a>
        </center>
        </li>
        <li class="show-for-small-only">
        <center class="show-for-small-only">
          © 2015–
        </center>
        </li>
      </ul>
    </div>
    <div class="show-for-medium-up medium-10 columns">
      <ul class="left" style="margin-left:0; font-size:small; list-style-type:none;">
        <li>
        <!--<a class="show-for-medium-only" href="http://stoufferlab.org/">Stouffer Lab</a>-->
        <a class="show-for-medium-up" href="http://stoufferlab.org/">the Stouffer lab</a>
        </li>
        <li>
        <!--<a class="show-for-medium-only" href="http://biol.canterbury.ac.nz/">Sch Biol Sci</a>-->
        <a class="show-for-medium-up" href="http://www.biol.canterbury.ac.nz/">School of Biological Sciences</a>
        </li>
        <li>
        <!--<a class="show-for-medium-only" href="http://www.canterbury.ac.nz/">Uni Canterbury</a>-->
        <a class="show-for-medium-up" href="http://www.canterbury.ac.nz/">University of Canterbury</a>
        </li>
      </ul>
    </div>
    <div class="show-for-medium-up medium-2 columns">
      <p style="font-size:small;"></p>
      <p class="right" style="font-size:small;">
      © 2015–
      </p>
      <p style="font-size:small;"></p>
    </div>
</div>
</footer>
