<div class="show-for-small-only">
  <div class="row" style="margin-top:5%;">
    <div class="small-12 columns">
      <center>
      <a href="/">
      <div class="row">
      <img style="margin:0; margin-bottom:15%;" src="/images/stoufferlab/thestoufferlab.png">
      </div>
      <div class="row">
      <img style="margin:0; margin-top:0%; margin-bottom:15%" src="/images/stoufferlab/stoufferlab.png">
      </div>
      <div class="row">
      <img style="margin-bottom:15%;" alt="" src="/images/stoufferlab/twoplustwo.png">
      </div>
      </a>
      </center>
    </div>
  </div>
</div>

<div class="show-for-medium-up">
  <div class="medium-4 large-4 large-offset-0 columns">
    <a href="/">
    <div class="row">
    <div class="small-12 columns">
    <img style="margin-top:3%; margin-bottom:15%" src="/images/stoufferlab/stoufferlab.png">
    </div>
    </div>
    <div class="row">
    <div class="small-12 columns">
    <img style="margin-bottom:15%;" src="/images/stoufferlab/thestoufferlab.png">
    </div>
    </div>
    <div class="row">
    <div class="small-12 columns">
    <img style="" alt="" src="/images/stoufferlab/twoplustwo.png">
    </div>
    </div>
    </a>
  </div>
</div>