<div class="small-10 small-centered medium-8 medium-uncentered large-8 end columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">

          <!--
          <li style="position:relative;">
            <a href="./about/">
              <img style="" src="./images/panels/square/cava.png">
              <div class="title white text-center">
                <h2>
                  About
                </h2>
              </div>
            </a>
          </li>
          -->

          <li style="position:relative;">
            <a href="/publications/">
              <img style="" alt="" src="./images/panels/square/chalk_bw.png">
              <div class="title white text-center">
                <h2>
                  Publications
                </h2>
              </div>
            </a>
          </li>

          <li style="position:relative;">
            <a href="/people/">
              <img style="" alt="" src="./images/panels/square/flowers_bw.png">
              <div class="title white text-center">
                <h2>
                  People 
                </h2>
              </div>
            </a>
          </li>

          <!--
          <li style="position:relative;">
            <a href="/collaborators/">
              <img style="" alt="" src="./images/panels/square/snow.png">
              <div class="title black text-center">
                <h2>
                  Collaborators
                </h2>
              </div>
            </a>
          </li>
          -->

          <!--
          <li style="position:relative;">
            <a href="./about/">
              <img style="" src="./images/panels/square/hay_bw.png">
              <div class="title white text-center">
                <h2>
                  Code &amp; Data
                </h2>
              </div>
            </a>
          </li>
          -->
  
          <li style="position:relative;">
            <a href="/opportunities/">
              <img style="" alt="" src="/images/panels/square/sheep_bw.png">
              <div class="title white text-center">
                <h2>
                  Opportunities
                </h2>
              </div>
            </a>
          </li>

          <!--
          <li style="position:relative;">
            <a href="./about/">
              <img style="" alt="" src="./images/panels/square/birdwire_bw.png">
              <div class="title white text-center">
                <h2>
                  About
                </h2>
              </div>
            </a>
          </li>
          -->
  
          <li style="position:relative;">
            <a href="/people/stouffer/">
              <img style="" alt="" src="/images/panels/square/harbor_bw.png">
              <div class="title black text-center">
                <h2>
                  DB Stouffer
                </h2>
              </div>
            </a>
          </li>

          <li style="position:relative;">
            <a href="/contact/">
              <img style="" alt="" src="/images/panels/square/fageda_bw.png">
              <div class="title white text-center">
                <h2>
                  Contact
                </h2>
              </div>
            </a>
          </li>
  
    </ul>
    </div>