
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>contact | the Stouffer Lab | School of Biological Sciences | University of Canterbury</title>
<meta name="description" content="Research group specializing in the study of ecological complexity. We mix tools from biology, engineering, mathematics, physics, and statistics to uncover patterns in empirical data and explore their ecological or evolutionary consequences." />
<meta name="keywords" content="ecological complexity,community ecology,quantitative ecology,statistical ecology,theoretical ecology,data analysis,research,complex networks,ecological networks,evolution,phylogenetics,competition,predator-prey,predation,mutualism" />
<link rel="stylesheet" href="../css/foundation.css" />
<link rel="stylesheet" href="../css/app.css" />
<link rel="stylesheet" href="../css/typescale.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="../js/vendor/modernizr.js"></script>
</head>

<body>
  
<div class="row" style="margin-top:1%;">
    <div class="small-12 columns">
      <div class="show-for-small-only small-12 columns" style="">
        <center>
        <a href="../">
        <!--
        <img style="margin:0; margin-top:3%; margin-bottom:15%" alt="" src="../images/stoufferlab/stoufferlab.png">
        -->
        <img style="margin:0; margin-bottom:5%;" alt="" src="../images/stoufferlab/thestoufferlab.png">
        </a>

        <div class="text-center"> 
        
        <ul class="side-nav" style="">
          <!--<li><a href="/news/">News</a></li>-->
          <li class=""><a href="../publications/">Publications</a></li>
          <li class=""><a href="../people/">People</a></li>
          <!--<li><a href="/collaborators/">Collaborators</a></li>-->
          <li class=""><a href="../opportunities/">Opportunities</a></li>
          <li><a href="../people/stouffer/">DB Stouffer</a></li>
          <!--
          <li><a href="../resources/">Code &amp; Data</a></li>
          <li class=""><a href="../consulting/">Consulting</a></li>
          -->
          <li class="active"><a href="../contact/">Contact</a></li>
        </ul>  
        </div>
        </center>
      </div>
        
      <div class="show-for-medium-up medium-3 large-3 columns" style="">
        <a href="../">
        <img style="margin:0; margin-top:3%; margin-bottom:15%" alt="" src="../images/stoufferlab/stoufferlab.png">
        <img style="margin:0; margin-bottom:5%;" alt="" src="../images/stoufferlab/thestoufferlab.png">
        </a>
     
        
        <ul class="side-nav" style="">
          <!--<li><a href="/news/">News</a></li>-->
          <li class=""><a href="../publications/">Publications</a></li>
          <li class=""><a href="../people/">People</a></li>
          <!--<li><a href="/collaborators/">Collaborators</a></li>-->
          <li class=""><a href="../opportunities/">Opportunities</a></li>
          <li><a href="../people/stouffer/">DB Stouffer</a></li>
          <!--
          <li><a href="../resources/">Code &amp; Data</a></li>
          <li class=""><a href="../consulting/">Consulting</a></li>
          -->
          <li class="active"><a href="../contact/">Contact</a></li>
        </ul>  
      </div>
        
      <div class="small-12 medium-9 large-9 columns" style="">

        <div class="row">
          <div class="small-12 columns">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.9879987799904!2d172.58396591534427!3d-43.52344298636485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318ac2a11fe94f%3A0x199aafca8af79931!2sSchool+of+Biological+Sciences!5e0!3m2!1sen!2snz!4v1422476440588" width="100%" frameborder="0" style="border:0; margin-top:3%"></iframe>
          </div>
        </div>
        <div class="row" style="margin-top:5%;">
          <div class="small-9 small-centered medium-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          
          <li>
          <h2 style="color: rgb(127,39,4);">Find Daniel:</h2>
          <p class="deets">
          <i class="fa fa-building fa-fw"></i> Biology 518<br>
          <i class="fa fa-phone fa-fw"></i> +64 3 369 2880<br>
          <i class="fa fa-mobile fa-fw "></i> +64 21 0825 8815<br>
          </p> 
          </li>

          <li>
          <h2 style="color: rgb(127,39,4);">Find the lab:</h2>
          <p class="deets">
          <i class="fa fa-building fa-fw"></i> Biology 524 &amp 526<br>
          <!--
          <i class="fa fa-phone fa-fw"></i> +64 3 366 7001 x 7654<br>
          -->
          </p>
          </li>

          <li>
          <h2 style="color: rgb(127,39,4);">Postal address:</h2>
          <p class="deets">
            School of Biological Sciences<br>
            University of Canterbury<br>
            Private Bag 4800<br>
            Christchurch 8140<br>
            New Zealand
          </p>
          </li>

          </ul>

        </div>
      </div>

        <div class="row" style="">
          <div class="small-12 columns">
  <h3 style="color: rgb(127,39,4);">For administrative matters,</h3>
<p>
  including requests for PhDs, postdocs, and research internships, please email us <a href="mailto:info@stoufferlab.org">here</a> or <a href="mailto:daniel.stouffer@canterbury.ac.nz">here</a>.
</p>
          </div>
        </div>

        <div class="row" style="">
          <div class="small-12 columns">
  <h3 style="color: rgb(127,39,4);">For all other questions,</h3>
<p>
  please contact the appropriate <a href="../people/">person</a>.
</p>

          </div>
        </div>

      </div>
  </div>
</div>

<footer class="row">
<div class="small-12 columns">
  <hr>
    <div class="show-for-small-only small-12 columns">
      <ul style="margin-left:0; font-size:small; list-style-type:none;">
        <li>
        <center class="show-for-small-only">
          <a href="http://stoufferlab.org/">the Stouffer lab</a>
        </center>
        </li>
        <li>
        <center class="show-for-small-only">
          <a href="http://www.biol.canterbury.ac.nz/">School of Biological Sciences</a>
        </center>
        </li>
        <li>
        <center class="show-for-small-only">
          <a href="http://www.canterbury.ac.nz/">University of Canterbury</a>
        </center>
        </li>
        <li class="show-for-small-only">
        <center class="show-for-small-only">
          © 2015–
        </center>
        </li>
      </ul>
    </div>
    <div class="show-for-medium-up medium-10 columns">
      <ul class="left" style="margin-left:0; font-size:small; list-style-type:none;">
        <li>
        <!--<a class="show-for-medium-only" href="http://stoufferlab.org/">Stouffer Lab</a>-->
        <a class="show-for-medium-up" href="http://stoufferlab.org/">the Stouffer lab</a>
        </li>
        <li>
        <!--<a class="show-for-medium-only" href="http://biol.canterbury.ac.nz/">Sch Biol Sci</a>-->
        <a class="show-for-medium-up" href="http://www.biol.canterbury.ac.nz/">School of Biological Sciences</a>
        </li>
        <li>
        <!--<a class="show-for-medium-only" href="http://www.canterbury.ac.nz/">Uni Canterbury</a>-->
        <a class="show-for-medium-up" href="http://www.canterbury.ac.nz/">University of Canterbury</a>
        </li>
      </ul>
    </div>
    <div class="show-for-medium-up medium-2 columns">
      <p style="font-size:small;"></p>
      <p class="right" style="font-size:small;">
      © 2015–
      </p>
      <p style="font-size:small;"></p>
    </div>
</div>
</footer>

<script>
  document.write('<script src=../js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../js/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<!--
<script src="../js/templates/jquery.js"></script>
<script src="../js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
</script>
-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29209704-1']);
  _gaq.push(['_setDomainName', 'stoufferlab.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
