
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<!-- <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- <title>contact | the Stouffer Lab | School of Biological Sciences | University of Canterbury</title> -->
<!-- <meta name="description" content="Research group specializing in the study of ecological complexity. We mix tools from biology, engineering, mathematics, physics, and statistics to uncover patterns in empirical data and explore their ecological or evolutionary consequences." /> -->
<meta name="keywords" content="ecological complexity,community ecology,quantitative ecology,statistical ecology,theoretical ecology,data analysis,research,complex networks,ecological networks,evolution,phylogenetics,competition,predator-prey,predation,mutualism" />
<link rel="stylesheet" href="../css/fonts.css" />
<link rel="stylesheet" href="../css/foundation.css" />
<link rel="stylesheet" href="../css/app.css" />
<link rel="stylesheet" href="../css/typescale.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="../js/vendor/modernizr.js"></script>
</head>

<!-- google analytics include -->
{% include google_analytics_4.html %}

<body>
  
<div class="row" style="margin-top:1%;">
    <div class="small-12 columns">

      <!-- side navigation include -->
      {% include side_nav.html %}
        
      <!-- content include -->
      {{ content }}
  </div>
</div>

<!-- footer include -->
{% include footer.html %}

<script>
  document.write('<script src=../js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../js/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
