
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<!-- <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'> -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>opportunities | the Stouffer Lab | School of Biological Sciences | University of Canterbury</title>
<meta name="description" content="Research group specializing in the study of ecological complexity. We mix tools from biology, engineering, mathematics, physics, and statistics to uncover patterns in empirical data and explore their ecological or evolutionary consequences." />
<meta name="keywords" content="ecological complexity,community ecology,quantitative ecology,statistical ecology,theoretical ecology,data analysis,research,complex networks,ecological networks,evolution,phylogenetics,competition,predator-prey,predation,mutualism" />
<link rel="stylesheet" href="../css/fonts.css" />
<link rel="stylesheet" href="../css/foundation.css" />
<link rel="stylesheet" href="../css/app.css" />
<link rel="stylesheet" href="../css/typescale.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="../js/vendor/modernizr.js"></script>
</head>

<body>
  
<div class="row" style="margin-top:1%;">
    <div class="small-12 columns">
      <div class="row">
      <div class="show-for-small-only">
      <div class="row" style="margin-top:5%;">
        <center>
        <a href="../">
        <!--<img style="margin:0; margin-top:3%; margin-bottom:15%" src="../images/stoufferlab/stoufferlab.png">-->
        <div class="row">
        <img style="margin:0; margin-bottom:5%;" src="../images/stoufferlab/thestoufferlab.png">
        </div>
        </a>

        <div class="text-center"> 
        
        <ul class="side-nav" style="">
          <!--<li><a href="/news/">News</a></li>-->
          <li><a href="../publications/">Publications</a></li>
          <li><a href="../people/">People</a></li>
          <!--
          <li><a href="/collaborators/">Collaborators</a></li>
          -->
          <li class="active"><a href="../opportunities/">Opportunities</a></li>
          <li><a href="../people/stouffer/">DB Stouffer</a></li>
          <!--
          <li><a href="../resources/">Code &amp; Data</a></li>
          <li><a href="../consulting/">Consulting</a></li>
          -->
          <li><a href="../contact/">Contact</a></li>
        </ul>

        </div>
        
        </center>
      </div>
      </div>
      </div>

      <div class="show-for-medium-up medium-3 large-3 columns" style="">
        <a href="../">
        <img style="margin:0; margin-top:3%; margin-bottom:15%" alt="" src="../images/stoufferlab/stoufferlab.png">
        <img style="margin:0; margin-bottom:5%;" alt="" src="../images/stoufferlab/thestoufferlab.png">
        </a>
     
        
        <ul class="side-nav" style="">
          <!--<li><a href="/news/">News</a></li>-->
          <li><a href="../publications/">Publications</a></li>
          <li><a href="../people/">People</a></li>
          <!--
          <li><a href="/collaborators/">Collaborators</a></li>
          -->
          <li class="active"><a href="../opportunities/">Opportunities</a></li>
          <li><a href="../people/stouffer/">DB Stouffer</a></li>
          <!--
          <li><a href="../resources/">Code &amp; Data</a></li>
          <li><a href="../consulting/">Consulting</a></li>
          -->
          <li><a href="../contact/">Contact</a></li>
        </ul>

      </div>
        
      <div class="small-12 medium-9 large-9 columns" style="">

        <div class="row">
          <div class="small-12 columns">
            <div class="row hide">
            <center>
            <h2>Interested in joining <b style="color: rgb(127,39,4);">the Stouffer Lab</b>?</h2>
            </center>
            </div>

            <div class="show-for-medium-up row">
            <div class="small-11 small-centered medium-7 medium-uncentered large-7 large-uncentered columns">
            <h3 style="color: rgb(127,39,4);">If you...</h3>
            <ul class="text-left" style="list-style-type:none;">
              <li>...are an inquisitive, motivated student.</li>
              <li>...wish to explore interesting scientific questions.</li>
              <li>...enjoy the idea of mixing research disciplines.</li>
              <li>...are passionate about science.</li>
              <li>...aren't afraid of computers, math, or statistics.</li>
            </ul>
            </div>
            <div class="show-for-medium-only medium-4 end columns">
              <img style="margin:0; margin-top:20%;" alt="" src="/images/misc/intervality.png">
            </div>
            <div class="show-for-large-up large-4 end columns">
              <img style="margin:0; margin-top:20%;" alt="" src="/images/misc/intervality.png">
            </div>
            </div>

            <div class="show-for-medium-up row">
            <div class="small-11 small-centered medium-9 medium-uncentered large-7 large-uncentered columns">
            <h3 style="color: rgb(127,39,4);">Then we offer...</h3>
            <ul style="list-style-type:none;">
              <li>...a vibrant research group.</li>
              <li>...the opportunity to perform cutting-edge research.</li>
             <li>...flexibility to pursue <b>your</b> research interests.</li>
             <li>...a strong interdisciplinary environment.</li>
            </ul>
            </div>
            <div class="show-for-medium-only medium-3 end columns">
              <img style="margin:0; margin-top:0%;" alt="" src="/images/misc/regression.png">
            </div>
            <div class="show-for-large-up large-4 end columns">
              <img style="margin:0; margin-top:0%;" alt="" src="/images/misc/regression.png">
            </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 columns">
            <h2 style="color: rgb(127,39,4);">Current openings:</h2>

            <h3>Postdoctoral fellows:</h3>
            
<p>
We currently have no funded openings for postdoctoral fellows but
are always open to <a href="http://youtu.be/KRSd_ko9HG4">intriguing
possibilities</a>. If you are interested in beginning discussions of
options for pursuing external funding (e.g., Marie Curie Outgoing
Fellowships, NSERC Postdoctoral Fellowships, or Beques BP-A), please <a
href="mailto:daniel.stouffer@canterbury.ac.nz">email Daniel</a> with a list
of research interests and a copy of your CV.
</p>


            <h3>Graduate students:</h3>
            
<p>
We currently have no funded openings for graduate students in the group.
The University of Canterbury, however, offers doctoral fellowships
twice a year whose deadlines generally fall in mid-May and mid-October. If you
are interested in applying for one of these scholarships, please <a
  href="mailto:daniel.stouffer@canterbury.ac.nz">email Daniel</a> well in advance
to express your interest and discuss the application process.
</p>


          </div>

          <div class="small-0 columns">
          </div>
        </div>
            
            <div class="show-for-small-only">
            <div class="row">
            <div class="small-6 columns">
              <img style="margin:0; margin-top:20%;" alt="" src="/images/misc/intervality.png">
            </div>
            <div class="small-6 columns">
              <img style="margin:0; margin-top:0%;" alt="" src="/images/misc/regression.png">
            </div>
            </div>
            </div>


      </div>
  </div>
</div>

<!-- footer include -->
{% include footer.html %}

<script>
  document.write('<script src=../js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
<script src="../js/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
  </script>
<!--
<script src="../js/templates/jquery.js"></script>
<script src="../js/templates/foundation.js"></script>
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29209704-1']);
  _gaq.push(['_setDomainName', 'stoufferlab.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
