---
layout: default
title: publications
---
        
<div class="small-12 medium-9 large-9 columns" style="">

  <!-- journal articles -->
  <div class="show-for-small-only">
    <h2 class="text-center" style="margin-bottom:2%;">
      Journal articles
    </h2>
  </div>

  <div class="show-for-medium-up">
    <h2 class="text-left" style="margin-bottom:2%;">
      Journal articles
    </h2>
  </div>

  <ul style="list-style-type:none">
    {% include_relative papers.html %}
  </ul>

  <!-- preprints -->
  <div class="show-for-small-only">
    <h2 class="text-center" style="margin-bottom:2%;">
      Preprints
    </h2>
  </div>

  <div class="show-for-medium-up">
    <h2 class="text-left" style="margin-bottom:2%;">
      Preprints
    </h2>
  </div>

  <!-- preprints -->
  <ul style="list-style-type:none">
  {% include_relative preprints.html %}
  </ul>

  <!-- book chapters -->
  <div class="show-for-small-only">
    <h2 class="text-center" style="margin-bottom:2%;">
      Book chapters
    </h2>
  </div>

  <div class="show-for-medium-up">
    <h2 class="text-left" style="margin-bottom:2%;">
      Book chapters
    </h2>
  </div>

  <!-- book chapters -->
  <ul style="list-style-type:none">
  {% include_relative bookchapters.html %}
  </ul>

</div>
